.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.leiste {
  width: 420px;
  height: 28px;
  background-color: #c9c9c9;
  display: grid;
  grid-template-columns: repeat(5, auto);
  border-radius: 8px;
  align-items: center;
  justify-items: center;
}

.button {
  font-family: raleway;
  font-size: 16px;
  font-weight: 400;
  color: white;
  cursor: pointer;
}

.logo {
  width: 48px;
  height: 48px;
  background-image: url('./assets/logo.svg/');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 14px;
  left: 28px;
}

.mail {
  width: 28px;
  height: 28px;
  background-image: url('./assets/mail.svg/');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 14px;
  right: 64px;
  cursor: pointer;
}

.phone {
  width: 22px;
  height: 22px;
  background-image: url('./assets/phone.svg/');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 14px;
  right: 28px;
  cursor: pointer;
}

.titel {
  font-family: berkshire swash;
  font-size: 38px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  margin-top: 64px;
}

.name {
  font-family: raleway;
  font-size: 26px;
  font-weight: 600;
  justify-content: center;
  text-align: left;
  color: #c70000;
  margin-top: 96px;
  margin-left: 480px;
}

.beschreibung {
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  text-align: left;
  color: #484848;
  margin-top: 56px;
  margin-left: 480px;
}

.frames {
  display: flex;
  position: relative;
  justify-content: right;
  margin-top: -342px;
  margin-right: 480px;
}

.frame1 {
  width: 223px;
  height: 456px;
  background-image: url('./assets/bild1.jpg/');
  margin-right: 12px;
}

.frame2 {
  width: 223px;
  height: 456px;
  background-image: url('./assets/bild2.jpg/');
  margin-top: 56px;
  margin-left: 12px;
}

.beschreibung2 {
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  text-align: left;
  color: #484848;
  margin-top: 128px;
  margin-left: 480px;
}

.beschreibung3 {
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  text-align: left;
  color: #484848;
  margin-top: 128px;
  margin-left: 480px;
}

.beschreibung4 {
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  text-align: left;
  color: #484848;
  margin-top: 128px;
  margin-left: 480px;
}

.beschreibung5 {
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  text-align: left;
  color: #484848;
  margin-top: 128px;
  margin-left: 480px;
}

.beschreibung6 {
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  text-align: left;
  color: #484848;
  margin-top: 128px;
  margin-left: 480px;
}

.copyright {
  font-family: roboto;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  color: #999999;
  margin-top: 128px;
}

.rechtliches {
  font-family: roboto;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  color: #999999;
  margin-top: 8px;
  margin-bottom: 56px;
}
