@font-face {
  font-family: 'raleway';
  src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'berkshire swash';
  src: url('fonts/BerkshireSwash-Regular.ttf') format('truetype');
}

body {
  width: 100%;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.logo {
  width: 48px;
  height: 16px;
  display: flex;
  background-image: url('assets/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}

.menu-leiste {
  max-width: 100%;
  width: 320px;
  height: 28px;
  background-color: #d9d9d9;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 18px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}

.menu-button {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.titel-startseite {
  font-family: berkshire swash;
  font-size: 38px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  margin-top: 32px;
}

.leiste {
  max-width: 100%;
  width: 540px;
  height: 41px;
  background-image: url('assets/leiste.png');
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  text-align: center;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
}

.titel-portfolio,
.titel-dienste,
.titel-preise,
.titel-agb,
.titel-datenschutz,
.titel-impressum {
  font-family: 'raleway';
  font-size: 38px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

.person-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
  text-align: left;
  line-height: 1.5;
}

.name {
  font-family: 'raleway';
  font-size: 26px;
  font-weight: 600;
  color: #c70000;
}

.profilbild {
  width: 128px;
  height: 128px;
  background-image: url('assets/bild.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 64px;
}

.beschreibung {
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
  color: #484848;
  margin-top: 64px;
}

.frames {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 96px;
}

.frame1 {
  width: 223px;
  height: 456px;
  background-image: url('assets/bild1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 12px;
}

.frame2 {
  width: 223px;
  height: 456px;
  background-image: url('assets/bild2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 56px;
  margin-left: 12px;
}

.port1 {
  max-width: 100%;
  width: 904px;
  height: 197px;
  background-image: url('assets/port1.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 128px;
  margin-left: auto;
  margin-right: auto;
}

.port2 {
  max-width: 100%;
  width: 904px;
  height: 274px;
  background-image: url('assets/port2.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 192px;
  margin-left: auto;
  margin-right: auto;
}

.port3 {
  max-width: 100%;
  width: 360px;
  height: 454px;
  background-image: url('assets/port3.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 192px;
  margin-left: auto;
  margin-right: auto;
}

.port4 {
  max-width: 100%;
  width: 662px;
  height: 454px;
  background-image: url('assets/port4.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 192px;
  margin-left: auto;
  margin-right: auto;
}

.beschreibung-dienste {
  max-width: 50%;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  text-align: left;
  color: #484848;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

.beschreibung-preise {
  max-width: 50%;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  text-align: left;
  color: #484848;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

.beschreibung-agb,
.beschreibung-datenschutz,
.beschreibung-impressum {
  max-width: 80%;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  text-align: justify;
  color: #484848;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.beschreibungen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
}

.beschreibung2,
.beschreibung3,
.beschreibung4,
.beschreibung5,
.beschreibung6 {
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
  color: #484848;
  margin-top: 64px;
}

.copyright {
  font-family: 'roboto';
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
  color: #999999;
  margin-top: 128px;
}

.rechtliches {
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 56px;
}

.agb {
  color: #999999;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.datenschutz {
  color: #999999;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.impressum {
  color: #999999;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
