@font-face {
  font-family: 'raleway';
  src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'berkshire swash';
  src: url('fonts/BerkshireSwash-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #f5f5f5, #d2dce7);
  background-repeat: no-repeat;
  cursor: url('assets/cursor.svg'), auto;
  overflow-x: hidden;
}

.logo {
  width: 48px;
  height: 16px;
  display: flex;
  background-image: url('assets/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}

.menu-leiste {
  max-width: 100%;
  width: 320px;
  height: 28px;
  background-color: #d9d9d9;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 18px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}

.menu-button {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  cursor: url('assets/cursor.svg'), auto;
}

.titel-startseite {
  font-family: berkshire swash;
  font-size: 38px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  margin-top: 64px;
}

.leiste {
  max-width: 100%;
  width: 540px;
  height: 41px;
  background-image: url('assets/leiste.png');
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  text-align: center;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
}

.titel-portfolio,
.titel-dienste,
.titel-preise,
.titel-agb,
.titel-datenschutz,
.titel-impressum {
  font-family: 'raleway';
  font-size: 38px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

.person-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
  text-align: left;
  line-height: 1.5;
}

.name {
  font-family: 'raleway';
  font-size: 26px;
  font-weight: 600;
  color: #c70000;
}

.profilbild {
  width: 128px;
  height: 128px;
  box-shadow: 0 0 0px 4px #f5f5f5, 0 0 0 8px #282828;
  border-radius: 50%;
  background-image: url('assets/bild.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 64px;
}

.beschreibung {
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
  color: #484848;
  margin-top: 64px;
}

.frames {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 96px;
}

.frame1 {
  width: 223px;
  height: 456px;
  background-image: url('assets/bild1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 12px;
}

.frame2 {
  width: 223px;
  height: 456px;
  background-image: url('assets/bild2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 56px;
  margin-left: 12px;
}

.port1 {
  max-width: 100%;
  width: 904px;
  height: 197px;
  background-image: url('assets/port1.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 128px;
  margin-left: auto;
  margin-right: auto;
}

.port2 {
  max-width: 100%;
  width: 904px;
  height: 274px;
  background-image: url('assets/port2.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 192px;
  margin-left: auto;
  margin-right: auto;
}

.port3 {
  max-width: 100%;
  width: 360px;
  height: 454px;
  background-image: url('assets/port3.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 192px;
  margin-left: auto;
  margin-right: auto;
}

.port4 {
  max-width: 100%;
  width: 662px;
  height: 454px;
  background-image: url('assets/port4.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 192px;
  margin-left: auto;
  margin-right: auto;
}

.beschreibung-dienste {
  max-width: 50%;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  text-align: left;
  color: #484848;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

.beschreibung-preise {
  max-width: 50%;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  text-align: left;
  color: #484848;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

.beschreibung-agb,
.beschreibung-datenschutz,
.beschreibung-impressum {
  max-width: 80%;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  text-align: justify;
  color: #484848;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.beschreibungen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
}

.beschreibung2,
.beschreibung3,
.beschreibung4,
.beschreibung5,
.beschreibung6 {
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
  color: #484848;
  margin-top: 64px;
}

.auszeichnungen {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 112px;
}

.listando {
  width: 128px;
  height: 128px;
  background-image: url('assets/listando.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: url('assets/cursor.svg'), auto;
}

.copyright {
  font-family: 'roboto';
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
  color: #999999;
  margin-top: 128px;
}

.rechtliches {
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 56px;
}

.agb {
  color: #999999;
  justify-content: center;
  text-align: center;
  cursor: url('assets/cursor.svg'), auto;
}

.datenschutz {
  color: #999999;
  justify-content: center;
  text-align: center;
  cursor: url('assets/cursor.svg'), auto;
}

.impressum {
  color: #999999;
  justify-content: center;
  text-align: center;
  cursor: url('assets/cursor.svg'), auto;
}

.sterne {
  width: 100%;
  height: 100%;
}

#stars {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: 
    779px 1331px #333, 324px 42px #333, 303px 586px #333,
    1312px 276px #333, 451px 625px #333, 521px 1931px #333,
    1087px 1871px #333, 36px 1546px #333, 132px 934px #333,
    1698px 901px #333, 1418px 664px #333, 1448px 1157px #333,
    1084px 232px #333, 347px 1776px #333, 1722px 243px #333,
    1629px 835px #333, 479px 969px #333, 1231px 960px #333,
    586px 384px #333, 164px 527px #333, 1456px 1377px #333,
    1536px 1097px #333, 1308px 1093px #333, 1780px 1917px #333,
    1087px 1893px #333, 1135px 1927px #333, 1905px 1757px #333,
    1873px 1347px #333, 1305px 1523px #333, 1720px 1677px #333,
    1628px 1173px #333, 1032px 1237px #333, 1725px 1613px #333,
    1538px 1943px #333, 1735px 1755px #333, 1673px 1319px #333;
}

#stars:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 
    779px 1331px #333, 324px 42px #333, 303px 586px #333,
    1312px 276px #333, 451px 625px #333, 521px 1931px #333,
    1087px 1871px #333, 36px 1546px #333, 132px 934px #333,
    1698px 901px #333, 1418px 664px #333, 1448px 1157px #333,
    1084px 232px #333, 347px 1776px #333, 1722px 243px #333,
    1629px 835px #333, 479px 969px #333, 1231px 960px #333,
    586px 384px #333, 164px 527px #333, 1456px 1377px #333,
    1536px 1097px #333, 1308px 1093px #333, 1780px 1917px #333,
    1087px 1893px #333, 1135px 1927px #333, 1905px 1757px #333,
    1873px 1347px #333, 1305px 1523px #333, 1720px 1677px #333,
    1628px 1173px #333, 1032px 1237px #333, 1725px 1613px #333,
    1538px 1943px #333, 1735px 1755px #333, 1673px 1319px #333;
}

#stars2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 
    1448px 320px #444, 1775px 1663px #444, 332px 1364px #444,
    878px 340px #444, 569px 1832px #444, 1422px 1684px #444,
    1946px 1907px #444, 121px 979px #444, 1044px 1069px #444,
    463px 381px #444, 423px 112px #444, 523px 1179px #444,
    779px 654px #444, 1398px 694px #444, 1085px 1464px #444,
    1599px 1869px #444, 801px 1882px #444, 779px 1231px #444,
    552px 932px #444, 1057px 1196px #444, 1395px 1937px #444,
    1751px 1897px #444, 1377px 1871px #444, 1893px 1833px #444,
    1681px 1775px #444, 1620px 1873px #444, 1755px 1845px #444,
    1958px 1683px #444, 1875px 1621px #444, 1623px 1619px #444;
}

#stars2:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 
    1448px 320px #444, 1775px 1663px #444, 332px 1364px #444,
    878px 340px #444, 569px 1832px #444, 1422px 1684px #444,
    1946px 1907px #444, 121px 979px #444, 1044px 1069px #444,
    463px 381px #444, 423px 112px #444, 523px 1179px #444,
    779px 654px #444, 1398px 694px #444, 1085px 1464px #444,
    1599px 1869px #444, 801px 1882px #444, 779px 1231px #444,
    552px 932px #444, 1057px 1196px #444, 1395px 1937px #444,
    1751px 1897px #444, 1377px 1871px #444, 1893px 1833px #444,
    1681px 1775px #444, 1620px 1873px #444, 1755px 1845px #444,
    1958px 1683px #444, 1875px 1621px #444, 1623px 1619px #444;
}

#stars3 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  animation: animStar 150s linear infinite;
  box-shadow: 
    387px 1878px #555, 760px 1564px #555, 1487px 999px #555,
    948px 1828px #555, 1977px 1001px #555, 1284px 1963px #555,
    656px 284px #555, 1268px 1635px #555, 1820px 598px #555,
    642px 1900px #555, 296px 57px #555, 921px 1620px #555,
    476px 1858px #555, 658px 613px #555, 1171px 1363px #555,
    1419px 283px #555, 1037px 731px #555, 503px 663px #555,
    1562px 463px #555, 383px 1197px #555, 1857px 1922px #555,
    1319px 1734px #555, 1750px 1736px #555, 1876px 1010px #555;
}

#stars3:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 
    387px 1878px #555, 760px 1564px #555, 1487px 999px #555,
    948px 1828px #555, 1977px 1001px #555, 1284px 1963px #555,
    656px 284px #555, 1268px 1635px #555, 1820px 598px #555,
    642px 1900px #555, 296px 57px #555, 921px 1620px #555,
    476px 1858px #555, 658px 613px #555, 1171px 1363px #555,
    1419px 283px #555, 1037px 731px #555, 503px 663px #555,
    1562px 463px #555, 383px 1197px #555, 1857px 1922px #555,
    1319px 1734px #555, 1750px 1736px #555, 1876px 1010px #555;
}

@keyframes animStar {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-2000px);
  }
}
